In [1]:
import pandas as pd

In [2]:
df2 = pd.read_csv('datos/daily-total-female-births-CA.csv',header =0,parse_dates=[0])

In [3]:
df2.head()

        date  births
0 1959-01-01      35
1 1959-01-02      32
2 1959-01-03      30
3 1959-01-04      31
4 1959-01-05      44

In [4]:
features = df2.copy()

In [5]:
features['year'] = df2['date'].dt.year

In [6]:
features['month'] = df2['date'].dt.month

In [8]:
features['day'] = df2['date'].dt.day

In [9]:
features.head(5)

        date  births  year  month  day
0 1959-01-01      35  1959      1    1
1 1959-01-02      32  1959      1    2
2 1959-01-03      30  1959      1    3
3 1959-01-04      31  1959      1    4
4 1959-01-05      44  1959      1    5

In [14]:
## Lag features

In [ ]:
features['lag1'] = df2[b]