In [1]:
#Moving average model

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('datos/daily-min-temperatures.csv',header=0,parse_dates=[0])

In [4]:
df.head()

        Date  Temp
0 1981-01-01  20.7
1 1981-01-02  17.9
2 1981-01-03  18.8
3 1981-01-04  14.6
4 1981-01-05  15.8

In [5]:
df['t'] = df['Temp'].shift(1)

In [6]:
df['Resid'] = df['Temp'] - df['t']

In [7]:
df.head()

        Date  Temp     t  Resid
0 1981-01-01  20.7   NaN    NaN
1 1981-01-02  17.9  20.7   -2.8
2 1981-01-03  18.8  17.9    0.9
3 1981-01-04  14.6  18.8   -4.2
4 1981-01-05  15.8  14.6    1.2

In [8]:
train, test = df.Resid[1:df.shape[0]-7],df.Resid[df.shape[0]-7:]

In [9]:
train.head()

1   -2.8
2    0.9
3   -4.2
4    1.2
5    0.0
Name: Resid, dtype: float64

In [20]:
df.tail(10)

           Date  Temp     t  Resid
3640 1990-12-22  13.2  13.1    0.1
3641 1990-12-23  13.9  13.2    0.7
3642 1990-12-24  10.0  13.9   -3.9
3643 1990-12-25  12.9  10.0    2.9
3644 1990-12-26  14.6  12.9    1.7
3645 1990-12-27  14.0  14.6   -0.6
3646 1990-12-28  13.6  14.0   -0.4
3647 1990-12-29  13.5  13.6   -0.1
3648 1990-12-30  15.7  13.5    2.2
3649 1990-12-31  13.0  15.7   -2.7

In [18]:
train.tail(10)

3633    0.9
3634    0.2
3635    0.3
3636    3.3
3637   -2.5
3638    0.7
3639   -2.3
3640    0.1
3641    0.7
3642   -3.9
Name: Resid, dtype: float64

In [19]:
test.head(7)

3643    2.9
3644    1.7
3645   -0.6
3646   -0.4
3647   -0.1
3648    2.2
3649   -2.7
Name: Resid, dtype: float64

In [23]:
from statsmodels.tsa.ar_model import AR

In [24]:
model = AR(train)
model_fit = model.fit()

In [25]:
model_fit.k_ar

29

In [26]:
model_fit.params

const       -0.006415
L1.Resid    -0.407139
L2.Resid    -0.496194
L3.Resid    -0.445747
L4.Resid    -0.403706
L5.Resid    -0.362528
L6.Resid    -0.334810
L7.Resid    -0.288468
L8.Resid    -0.274281
L9.Resid    -0.235333
L10.Resid   -0.234799
L11.Resid   -0.228532
L12.Resid   -0.208608
L13.Resid   -0.180324
L14.Resid   -0.178425
L15.Resid   -0.152265
L16.Resid   -0.143617
L17.Resid   -0.132501
L18.Resid   -0.097075
L19.Resid   -0.104927
L20.Resid   -0.079371
L21.Resid   -0.059348
L22.Resid   -0.045921
L23.Resid   -0.063197
L24.Resid   -0.063441
L25.Resid   -0.045061
L26.Resid   -0.023578
L27.Resid   -0.011882
L28.Resid   -0.003789
L29.Resid   -0.003422
dtype: float64

In [27]:
pred_resid = model_fit.predict(start=len(train),end=len(train)+len(test)-1)

In [29]:
predictions = df.t[df.shape[0]-7:] + pred_resid

In [30]:
predictions

3643    12.004986
3644    14.164192
3645    15.110869
3646    13.748313
3647    13.477946
3648    13.577509
3649    15.755600
dtype: float64

In [38]:
train1,test1 = df[1:df.shape[0]-7], df[df.shape[0]-7:]

train_x, train_y = train1['t'],train1['Temp']
test_x, test_y = test1['t'], test1['Temp']

In [39]:
from sklearn.metrics import mean_squared_error
mse = mean_squared_error(test_y,predictions)
mse

2.049398556648206